<%= render :partial => 'flash_messages' %>

<div class="content-wrapper">

  <h1 class="instruction">
    Wähle Module aus, die in<br/>
    deinem Stundenplan angezeigt werden sollen
  </h1>

  <%= form_tag(calendar_link_path, :class => 'choose-courses width-wrapper-lg') do -%>
    <% @subjects.each_with_index do |subject, i|  %>
      
      <%
        id          = subject[:id]
        title       = subject[:title]
        courses     = subject[:courses]
        row_is_open = false
      %>
      <h2><%= title %></h2>

      <div id="subject-courses-wrapper-<%= id %>" class="subject-courses-wrapper">

        <% courses.each_with_index do |course, j| %>

          <% if j % 3 == 0 %>
            <div class="row">
            <% row_is_open = true %>
          <% end %>

          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon">
                <%= check_box_tag 'course_ids[]',
                                  course.id,
                                  :checked,
                                  :id => "course_ids_#{course.id}" %>
              </span>
              <%= text_field_tag "course_aliases[#{course.id}]",
                                 course.title,
                                 :class => 'form-control' %>
            </div> <%# /.input-group %>
          </div> <%# /.col-sm-4 %>
         
          <% if j % 3 == 2 %>
            </div> <%# /.row %>
            <% row_is_open = false %>
          <% end %>
        
        <% end %> <%# end courses.each_with_index %>

        <%= hidden_field_tag 'subject_ids[]', id %>


        <%# studium generale %>
        <% if i == 0 %>
          <%# TODO adjust for Studium Generale %>
          <% if !row_is_open %>
            <div class="row">
            <% row_is_open = true %>
          <% end %>
          <div class="col-sm-4 studium-generale-ellipses">
          
            <%= link_to 'Studium Generale hinzufügen?', '#',
                        :id    => "studium_generale_link",
                        :class => 'studium-generale-link' %>
          </div>
        <% end %> <%# end i == 0 %>

        <%= '</div>'.html_safe if row_is_open %> <%# /.row %>

      </div> <%# /#subject-courses-wrapper-#{id}  %>


      <%# batch selector %>
      <p class="row text-center">
        <%= check_box_tag "uncheck_#{id}",
                          nil,
                          :checked,
                          :class => 'batch-selector',
                          :'data-target' => "subject-courses-wrapper-#{id}" %>
        <%= label_tag "uncheck_#{id}", 'alle Module' %>                
      </p>

      <hr />
    <% end %> <%# end @subjects.each_with_index %>


    <p class="text-center choose-more-subjects-wrapper">
      Du hast Module aus einem anderen Studiengang belegt?<br />
      <%= link_to 'Module aus anderem Studiengang hinzufügen',
                  @choose_subjects_link,
                  :class => 'btn-link btn-success',
                  :id    => 'choose-more-subjects-cta' %>
    </p>


    <%= submit_tag 'Kalender erstellen', :class => 'btn btn-success btn-lg btn-create-calendar' %><br />
  <% end %> <%# /form %>
</div> <%# /.content-wrapper %>