<%
  percent_or_100 = [@amount_percent, 100].min
  is_max_reached = percent_or_100 == 100
%>

<div class="content-wrapper content-wrapper-donate">
  <div class="width-wrapper-lg">
    
    <h1 class="instruction">Unterstützen</h1>

    <div class="donate-status">
      <div class="progress">
        <div class="progress-bar <%= is_max_reached ? 'progress-bar-success' : 'progress-bar-danger' %>" role="progressbar" aria-valuenow="<%= percent_or_100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent_or_100 %>%;">
          <%= @amount_percent.to_i %>%
        </div>
      </div>
      <p>Status: <strong><%= format_euro @amount_current, true %></strong> von <strong class="donate-status-goal"><%= format_euro @amount_max %></strong> erreicht.</p>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Wieso willst <em>du</em> mein Geld?</h3>
        <p>Dieses Tool hier ist <strong>kein</strong> offizielles Angebot der HTWK Leipzig. Es wird von mir unter heftigstem Mate-Konsum in meiner Freizeit entwickelt. Ich sorge dafür, dass Fehler behoben werden und helfe aus, wenn ihr Fragen habt. Das macht mir Spaß und das mache ich gern. Ernsthaft.</p>
        <p>Aufgrund der Popularität und der anfallenden Datenmenge musste ich aber von Anfang an etwas für den Betrieb der Datenbank-Server zahlen, was ursprünglich nicht geplant war. Diese Kosten möchte ich ungern allein stemmen.</p>
      </div>

      <div class="col-sm-6">
        <h3>Und wieviel davon willst du?</h3>
        <p><a href="https://www.heroku.com/">Heroku</a>, der Dienst, der das alles hier hostet, kriegt von mir <%= format_dollar @amount_heroku %> pro Monat. Pro Semester macht das – dank gestiegenem Dollarkurs – mittlerweile ca. <strong><%= format_euro @amount_max %></strong>. Das sollten wir hinkriegen, oder?</p>
        <p>Alles, was darüber hinaus geht, werde ich spenden.</p>
      </div>
    </div>

    <div class="donate-buttons">
      <p class="donate-buttons-pre-text"><strong>Du bist gefragt.</strong><br />Zeig, dass dir der einfache Überblick über deinen Stundenplan etwas wert ist.</p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=8PXJQALPT4AZA&lc=DE&item_name=Enrico%20Schlag&no_note=1&no_shipping=1&rm=1&return=http%3A%2F%2Fwww.htwk-stundenplan.de%2Fdonate%2Fthx%2F&currency_code=EUR" class="btn btn-lg btn-primary" target="_blank">PayPal</a>
      <a href="https://flattr.com/submit/auto?user_id=HTWK2iCal&url=http%3A%2F%2Fwww.htwk-stundenplan.de" class="btn btn-lg btn-success" target="_blank">Flattr</a>
      <a id="show-transfer-info" href="#" class="btn btn-lg btn-warning">Überweisung</a>
      <p id="donate-transfer-info" class="alert alert-plain">Cool, dass du etwas überweisen möchtest. Allerdings möchte ich meine Kontodaten hier nicht direkt preisgeben. <a href="#" id="donate-mail">Bitte schreib mir eine kurze Mail</a> und du solltest die erforderlichen Daten in Kürze haben. Dank dir :)</p>
    </div>
  </div>
</div>