<% start_date = '01.10.' %>
<% term_str   = 'Wintersemester 2020/21' %>

<div class="maintenance-head">
  <h1>Was ist mit <em>HTWK2iCal</em> passiert?</h1>
  <p class="lead">Das verrate ich gleich, aber erstmal eine Bitte.</p>
  <p class="lead-sub">Dieses Semester ist das zweite in der 13-semestrigen (!) Geschichte von HTWK2iCal, in dem der Betrag zur Tilgung der Betriebskosten nicht zusammen gekommen ist.<br />Lasst uns das bitte fixen.</p>
</div>

<%= render template: 'index/donate' %>

<div class="maintenance-head">
  <small>Back to topic...</small>

  <p class="lead">
    Der Stundenplan für das <%= term_str %> wird<br />
    hier ab <strong><%= start_date %></strong> zur Verfügung stehen.
  </p>
</div>

<div class="content-wrapper">
  <div class="maintenance-explain">
    <h3>Warum?</h3>
    <p>
      Erfahrungsgemäß braucht der <%= link_to 'HTWK-Stundenplan', 'https://www.htwk-leipzig.de/studieren/im-studium/online-services/lehrveranstaltungsplan/seminargruppenplan/' %> im jetzigen Entwurfsstadium ein bisschen Zeit, um sich einzupendeln. Modulnamen werden geändert, Veranstaltungen werden verlegt oder komplett umgeschmissen und auch so befinden sich eigentlich alle noch gedanklich in den Semesterferien.
    </p>
    <p>
      Weil dabei Fehler entstehen können, mit denen sich keiner von uns rumschlagen sollte – weder ihr noch ich – wird <em>HTWK2iCal</em> erst kurz vor Vorlesungsbeginn an den Start gehen.
    </p>
  </div>

  <div class="maintenance-salutation">
    <h3>Genießt die restliche vorlesungsfreie Zeit!</h3>
    <p>
      <small>...und vergesst nicht euren Stundenplan am <%= start_date %> hier anzulegen.</small>
    </p>
  </div>
</div>
