<% start_date = '01.04.' %>
<% term_str   = 'Sommersemester 2019' %>

<div class="maintenance-head">
  <h1>Was ist mit <em>HTWK2iCal</em> passiert?</h1>

  <img src="<%= asset_path('cat_is_not_amused.jpg') %>" alt="">

  <p class="lead">
    Der Stundenplan für das <%= term_str %> wird<br />
    hier ab <strong><%= start_date %></strong> zur Verfügung stehen.
  </p>
</div>

<div class="content-wrapper">
  <div class="maintenance-explain">
    <h3>Warum?</h3>
    <p>
      Erfahrungsgemäß braucht der <%= link_to 'HTWK-Stundenplan', 'https://www.htwk-leipzig.de/studieren/im-studium/online-services/lehrveranstaltungsplan/seminargruppenplan/' %> im jetzigen Entwurfsstadium ein bisschen Zeit, um sich einzupendeln. Modulnamen werden geändert, Veranstaltungen werden verlegt oder komplett umgeschmissen und auch so befinden sich eigentlich alle noch gedanklich in den Semesterferien.
    </p>
    <p>
      Weil dabei Fehler entstehen können, mit denen sich keiner von uns rumschlagen sollte – weder ihr noch ich – wird <em>HTWK2iCal</em> erst kurz vor Vorlesungsbeginn an den Start gehen.
    </p>
  </div>

  <div class="maintenance-salutation">
    <h3>Genießt die restliche vorlesungsfreie Zeit!</h3>
    <p>
      <small>...und vergesst nicht euren Stundenplan am <%= start_date %> hier anzulegen.</small>
    </p>
  </div>
</div>
