<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'HTWK2iCal' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <%# For third-generation iPad with high-resolution Retina display: %>
    <%# Size should be 144 x 144 pixels %>
    <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <%# For iPhone with high-resolution Retina display: %>
    <%# Size should be 114 x 114 pixels %>
    <%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <%# For first- and second-generation iPad: %>
    <%# Size should be 72 x 72 pixels %>
    <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <%# For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: %>
    <%# Size should be 57 x 57 pixels %>
    <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <%# For all other devices %>
    <%# Size should be 32 x 32 pixels %>
    <%#= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body class="<%= @landing_page.nil? ? 'not-landing-page' : 'landing-page' %>">
    
    <div class="width-wrapper-lg">
      <nav class="navbar navbar-default navbar-main" role="navigation">
        <%# for mobile %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigation anzeigen/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'HTWK2iCal', root_path, :class => 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Kalender erstellen', calendar_path, :class => @add_calendar_page.nil? ? '' : 'active' %></li>
            <li><%= link_to 'FAQ', faq_path, :class => @faq_page.nil? ? '' : 'active'  %></li>
            <li><%= link_to 'Kontakt', contact_path, :class => @contact_page.nil? ? '' : 'active'  %></li>
            <li><%= link_to 'Impressum', imprint_path, :class => @imprint_page.nil? ? '' : 'active'  %></li>
          </ul>
        </div><%# /.navbar-collapse %>
      </nav>
    </div>


    <%= yield %>


    <p class="footer muted">
      HTWK2iCal wird unterstützt durch <%= link_to 'Pictrs.com, das Shopsystem für Fotografen', 'http://www.pictrs.com' %>.
    </p>


    <%# Javascripts
    ----------------------------------------------------------------------------- %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39181133-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
