<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'HTWK2iCal' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <% if params[:severin].present? %>
      <script>var severinMax = 5;</script>
    <% end -%>
  </head>
  <body class="<%= @landing_page.nil? ? 'not-landing-page' : 'landing-page' %>">
    
    <div class="width-wrapper-lg">
      <nav class="navbar navbar-default navbar-main" role="navigation">
        <%# for mobile %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigation anzeigen/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(root_path, :class => 'navbar-brand') do %>
            HTWK2iCal
            <span class="label label-success">SS18</span>
          <% end %>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to '<span class="glyphicon glyphicon-plus"></span> Kalender erstellen'.html_safe,
                          calendar_path,
                          :class => ('active' if @add_calendar_page) %>
            </li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-heart-empty"></span> Unterstützen'.html_safe,
                          donate_path,
                          :class => ('active' if @donate_page) %>
            </li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-question-sign"></span> FAQ'.html_safe,
                          faq_path,
                          :class => ('active' if @faq_page) %>
            </li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-envelope"></span> Kontakt'.html_safe,
                          contact_path,
                          :class => ('active' if @contact_page) %>
            </li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-info-sign"></span> Impressum'.html_safe,
                          imprint_path %>
            </li>
          </ul>
        </div><%# /.navbar-collapse %>
      </nav>
    </div>


    <%= yield %>


    <p class="footer muted">
      HTWK2iCal wird unterstützt durch <%= link_to 'Pictrs.com, das Shopsystem für Fotografen', 'http://www.pictrs.com' %>.
    </p>


    <%# Javascripts
    ----------------------------------------------------------------------------- %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39181133-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
