<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'HTWK2iCal' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
  </head>
  <body class="landing-page">

    <div class="maintenance-wrapper">
      <%= yield %>

      <p class="footer muted">
        HTWK2iCal wird unterstützt durch <%= link_to 'Pictrs.com, das Shopsystem für Fotografen', 'http://www.pictrs.com' %>.
      </p>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
